*{
    margin: 0px;
    border: 0px;
}
.nav-bar{
    width: 100%;
    height: 50px;
    background-color: #2456A4;
}

.nav-bar-img{
    height: 40px;
    padding: 5px 14px;
}

.nav-bar-text1{
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 10px;
}

.nav-bar-text2{
    font-size: 15px;
    color: white;
    position: relative;
    bottom: 19px;
    padding-left: 7px;
}

.content{
    padding: 10px;
   
}

.vtop-text1{
    color: #2456A4;
    font-weight: 500px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 11px;
}

.vtop-text2{
    color: black;
    font-size: 15px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}    

.login-container{
    width: auto;
    height: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    display: block;
    padding-bottom: 15px;
}

.rectangle1{
    width: 241px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #2456A4;
    padding: 40px;
    box-shadow: 2px 2px 7px gray;
    display: inline-block;
    margin-right: 43px;
}

.rectangle2{
    width: 241px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #D4AC0D;
    padding: 40px;
    box-shadow: 2px 2px 7px gray;
    display: inline-block;
    margin-right: 43px;
}

.rectangle3{
    width: 241px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #198754;
    padding: 40px;
    box-shadow: 2px 2px 7px gray;
    display: inline-block;
    margin-right: 43px;
}

.rectangle4{
    width: 241px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #0DCAF0;
    padding: 40px;
    box-shadow: 2px 2px 7px gray;
    display: inline-block;
    margin-right: 43px;
    
}

.rec-pic{
    width: 50px;
    height: 50px;
    
}

.btn-name{
    display: inline-block;
    padding-left: 90px;
}

.div-names{
    box-sizing: border-box;
    padding-bottom: 15px;
}


.highlight-container{
    margin: 25px;
    box-sizing: border-box;
    display: flex;
}


.text1{
    width: 705px;
    height:  280px;
    margin-right: 25px;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px 0px 0px 0px;
    border-color: brown;
    box-shadow: 2px 2px 7px gray;
    
}

.text2{
    width: 705px;
    height:  200px;
    margin-right: 25px;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px 0px 0px 0px;
    border-color: brown;
    box-shadow: 2px 2px 7px gray;
    
}


.highlight-heading{
    padding: 9px 9px;
    background-color: rgb(223, 218, 218);
    
}

.space{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: smaller;
}

.space1{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: x-small;
}

.line-bottom{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: gray;
}

